.. role:: normal

{% if title: %}

.. cssclass:: title

{{title}}

{% endif %}

{% if subtitle: %}

.. cssclass:: subtitle

{{subtitle}}

{% endif %}

.. raw:: pdf

   Spacer 0 3cm

{% for author in authors: %}
.. cssclass:: author

{{author}}

{% endfor %}

.. raw:: pdf

   Spacer 0 3cm

.. cssclass:: author

:normal:`{{date}}`

.. raw:: pdf

   OddPageBreak
