{% if title: %}

.. class:: title

{{title}}

{% endif %}

{% if subtitle: %}

.. class:: subtitle

{{subtitle}}

{% endif %}

If the custom cover works, this is in the cover, and the text starts in the next page.

.. raw:: pdf

   PageBreak
