before_script:
 - apt-get update -qq && apt-get install -y -qq python3-dev python3-pip
 - pip3 install --upgrade setuptools
 - pip3 install nose coverage
 - pip3 install -r requirements.txt
 - pip3 install -e .[tests,sphinx,images,svgsupport,aafiguresupport,mathsupport,rawhtmlsupport]

test:
  image: python:3.6
  script:
  - nosetests -i regulartest -i sphinxtest --with-xunit
  artifacts:
    reports:
      junit: nosetests.xml
    paths:
    - rst2pdf/tests/output/*pdf
    expire_in: 1 week
    when: on_failure
