[build-system]
requires = ['setuptools', 'setuptools-scm', 'wheel']

[tool.black]
line-length = 88
target-version = ['py36']
skip-string-normalization = true
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.tox
    | \.venv
    | build
    | dist
  )/
  | tests/input
)
'''
