.. class:: logoimage

.. image:: assets/rst2pdf-logo.jpg
   :width: 50%


.. raw:: pdf

   Spacer 0 10mm


.. class:: subtitle

How to use

.. class:: title

rst2pdf


.. class:: centered

Version :package-version:`rst2pdf` (:package-revision:`rst2pdf`)


.. raw:: pdf

   PageBreak oneColumn
